fly.toml

/.idea
/venv
/.vscode
/__pycache__
*/__pycache__
*/*/__pycache__
/.github
/Project-BackUp
/tests/misc
/txt
/log
/episode_search_results
/misc_working

*.pyc
.env
aux_methods/imdb_api_results.json
update_showlist.py
*.log
playground.py