# directories
/.idea
/venv
/__pycache__
/Project-BackUp
/BackUps
/shows
/tests
/txt
/log
/today_guide
/database/__pycache__
/episode_search_results
/aux_methods/__pycache__
.vscode

# files
/aux_methods.pyc
/backups.pyc
/log.pyc
/repeat_handler.pyc
/show.pyc
.env