# directories
/.idea
/venv
/__pycache__
/Project-BackUp
/BackUps
/shows
/tests/__pycache__
/tests/misc
/txt
/log
/today_guide
/database/__pycache__
/episode_search_results
/aux_methods/__pycache__
/misc_working

# files
/aux_methods.pyc
/backups.pyc
/log.pyc
/repeat_handler.pyc
/show.pyc
.env
aux_methods/imdb_api_results.json
update_showlist.py