# directories
/.idea
/venv
/.vscode
/__pycache__
*/__pycache__
*/*/__pycache__
/Project-BackUp
/BackUps
/shows
/tests/misc
/txt
/log
/today_guide
/episode_search_results
/misc_working
/database/backups
/database/restore
/dev-data/mongo_data
/build

# files
*.pyc
.env*
aux_methods/imdb_api_results.json
update_showlist.py
*.log
playground.py