#tv-guide {
    max-width: 80%;
    margin: 0 auto;
}

.show {
    text-align: left;
}

#guide-table {
    margin: 0 auto;
}

#date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;
}

#date .date-selected {
    display: block;
}

#message {
    margin-left: 5%;
    text-align: center;
}

.see-event {
    margin-left: 10%;
    padding: 0.5%;
    border: solid 1px green;
}

.see-event:hover {
    padding: 1%;
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
}